%section.ten-oh-announcement
  .container
    .row
      .col-sm-11.col-lg-6.ten-oh-label
        %span 10.2
      .col-sm-11.col-lg-6.ten-oh-description
        .ten-oh-description-body
          %h2.main-heading New features every month
          %p In this month’s release of GitLab 10.2 we’ve added capabilities to improve planning, reliability, and deployment. Plan and organize faster with configurable issue boards. Ensure the highest uptime metrics with PostgreSQL HA, now Generally Available. Streamline your production deploy process with one-click installs for Kubernetes Apps. And so much more. 
          .btn-group
            %a.btn.cta-btn.ghost{href: "/2017/11/22/gitlab-10-2-released/"}
              See what’s new
