@import "variables";
@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins";

$badge-color-ce: #5aab6e;
$badge-color-ees: #51a7e0;
$badge-color-eep: #0976bc;
$badge-color-eeu: #0f3b66;

@mixin badge($badge-color) {
  background-color: $badge-color;
  color: $color-white;
  padding: 2px 8px 4px;
  border-radius: 3px;
  font-size: .7em;
  text-transform: uppercase;
  vertical-align: middle;
}

.badge-container {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.cta {
  padding-bottom: 70px;
}

.blog {
  .wrapper {
    max-width: none;

    &.body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.article {
    @media (max-width: $screen-xs) {
      .content {
        font-size: 15px;
      }
    }

    h1 {
      font-weight: 300;
      font-size: 6vh;
      line-height: 1.25;
      max-width: 1300px;

      @media (max-width: $screen-md-max) {
        font-size: 6vh;
      }

      @media (max-width: $screen-xs-max) {
        font-size: 7vw;
      }

      @media (max-width: $screen-xs) {
        font-size: 32px;
        font-weight: 500;
      }
    }

    h2 {
      font-weight: normal;
      line-height: 1.2;

      @media (min-width: $screen-sm-min) {
        font-size: 44px;
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;
      }

      a:hover {
        text-decoration: none;
      }
    }

    h3 {
      font-weight: normal;
      line-height: 1.2;
      margin-top: 50px;

      @media (min-width: $screen-sm-min) {
        font-size: 33px;
      }

      @media (max-width: $screen-sm-max) {
        text-align: center;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .cover {
      height: 70vh;
    }

    .overlay {
      background: linear-gradient(to top, rgba($color-white, 1) 15%, transparent 40%);
      height: 100%;
      display: flex;

      @media (max-width: $screen-xs-max) {
        background: linear-gradient(to top, rgba($color-white, 1) 25%, transparent 55%);
      }
    }

    .header {
      color: $color-dark;
      text-align: center;
      align-self: center;
    }

    .author a,
    .author-twitter i,
    .author-gitlab i {
      color: $color-dark;
    }

    .comments,
    .signup {
      max-width: 900px;
    }
  }

  .pager {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.release-number {
  color: $color-white;
  font-size: 32vh;
  line-height: 1.2;

  @media (max-width: $screen-md-max) {
    font-size: 30vh;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 30vw;
  }

  @media (max-width: $screen-xs) {
    font-size: 150px;
  }
}

.description {
  display: none;
}

.release-post-section {
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto 90px;

  @media (max-width: $screen-xs) {
    margin: 0 auto 45px;
  }

  @media (min-width: $screen-md-min) {
    img {
      max-width: 120%;
      margin-left: -10%;
    }
  }
}

.header-link {
  padding: 0 12px;
  position: absolute;
  margin-left: -1em;
  margin-top: -.1em;

  &::before {
    font-family: FontAwesome;
    content: "\f0c1";
    font-weight: 200;
    font-size: .6em;
    opacity: 0;
    color: $color-dark;
  }

  &:hover {
    color: $color-primary-alt;
    text-decoration: none;
  }
}

h2,
h3,
.header-link {
  &:hover {
    .header-link::before {
      opacity: 1;
    }
  }
}

.gray-section {
  background-color: $body-bg;
  border-top: 1px solid $landing-organization-color;
  border-bottom: 1px solid $landing-organization-color;
  padding: 20px 0;
}

.mvp {
  text-align: center;
  margin-bottom: 90px;

  .release-post-section {
    margin-bottom: 0;
  }

  img {
    height: 200px;
    width: auto;
    margin: 0;

    &.mvp-gift {
      height: 400px;
    }
  }

  @media (min-width: $screen-lg-min) {
    h2 {
      width: 150%;
      margin-left: -25%;
    }
  }
}

.ce {
  @include badge($badge-color-ce);
}

.ee {
  @include badge($badge-color-ees);
}

.ees {
  @include badge($badge-color-ees);
}

.eep {
  @include badge($badge-color-eep);
}

.eeu {
  @include badge($badge-color-eeu);
}

.release-row {
  @include make-row();
  max-width: 1300px;
  margin: 60px auto 90px;

  @media (max-width: $screen-xs) {
    margin: 0 auto 45px;
  }

  @media (min-width: $screen-lg-min) {
    display: flex;
    max-width: 1600px;
  }

  .column {
    @include make-lg-column(6);
    padding: 0 45px;
    align-self: center;
    max-width: 800px;

    @media (max-width: $screen-md-max) {
      padding: 0 15px;
      margin: auto;
    }
  }

  @media (min-width: $screen-lg-min) {
    &.divider .column {
      margin-top: 50px;
      font-size: 15px;

      h3:first-child {
        margin-top: 0;
      }
    }

    &.divider .column:nth-child(1) {
      padding-right: 90px;
    }

    &.divider .column:nth-child(2) {
      border-left: 1px solid $hr-border;
      padding-left: 90px;
    }
  }

  &.image-left {
    .image-column {
      @include make-lg-column-pull(6);
    }

    .text-column {
      @include make-lg-column-push(6);
    }
  }

  &.align-top .column {
    align-self: flex-start;
  }
}

.zero-bottom-margin {
  margin-bottom: 0;
}

.changelog {
  margin: 70px 0;
}
